<div class="row small-gutter">
  <div class="col-md-3">
    <%= render 'shared/profile' %>
    <%= render 'left_sidebar' %>
  </div>
  <div class="col-md-6">
    <%= render 'stamp_nav' %>
    <%= render @stamps %>
    <%= paginate @stamps %>
  </div>
  <div class="col-md-3">
    <%= render 'shared/trending' %>
    <%= render 'shared/who_to_follow' %>
  </div>
</div>
