<%= simple_form_for([@stamp,@bet], remote: true) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :outcome, :as => :select, :label => "Will It Happen?", include_blank: false %>
    <%= f.input :wager %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
