<div id="stamp_<%= stamp.id %>" class="card stamp-card">
  <div class="card-image">
    <%= image_tag Dir.new(Rails.root.to_s + '/app/assets/images').to_a.select{|f|    f.downcase.match(/\.jpg|\.jpeg|\.png/) }.sample, class: "img-responsive" %>
  </div>
  <div class="speaker-wrapper">
    <div class='speaker'><%= stamp.speaker %></div>
  </div>
  <div class="stamp-header">
    <%= link_to stamp.user, class: "avatar-link" do %>
      <%= gravatar_for(stamp.user, class: "user-avatar") %>
    <% end %>
    <div class="stamp-details">
      <div class="stamp-user">
        <%= link_to "#{stamp.user.username}", stamp.user  %>
      </div>
      <div class="stamp-date">
        <%= time_ago_in_words(stamp.created_at) %> ago
      </div>
    </div>
  </div>
  <div class="card-content">
      <p><%= stamp.quote %></p>
  </div>

  <div data-toggle="collapse" data-target="#s_<%= stamp.id %>" class="card-footer">
    <% if stamp.bets.any? %>
      <div class="progress">
        <div class="progress-bar progress-bar-success" style="width: <%= (stamp.percent_true*100).round %>%" data-toggle="tooltip" title="<%= (stamp.percent_true*100).round %>%">
        </div>
        <div class="progress-bar" style="width: <%= (100-stamp.percent_true*100).round %>%" data-toggle="tooltip" title="<%= (100-stamp.percent_true*100).round %>%">
        </div>
      </div>
    <% else %>
    <div class="progress">
      <div class="progress-bar progress-bar-danger" style="width: 100%" data-toggle="tooltip" title="No bets yet">
      </div>
    </div>
    <% end %>
    <div class="bet-details">
      <div class="bet-single-detail">
        <%= icon(:calendar) %> <%= distance_of_time_in_words(Time.now, stamp.completion_date) %> left
      </div>
      <div class="bet-single-detail">
        <% if stamp.completed_at.nil? %>
          <% if stamp.user == current_user %>
            <%= link_to mark_complete_stamp_path(stamp), method: :post, remote: true do %>
              <%= button_tag class: "btn btn-success btn-xs btn-raised" do %>
                Complete
              <% end %>
            <% end %>
          <% end %>
          <% if stamp.has_user_bet?(current_user) %>
          <% bet = stamp.bets.where(user: current_user).first %>
            <%= link_to edit_stamp_bet_path(stamp, bet), remote: true do %>
              <%= button_tag class: "btn btn-success btn-xs btn-raised" do %>
                Update Bet
              <% end %>
            <% end %>
          <% else %>
            <%= link_to new_stamp_bet_path(stamp), remote: true do %>
              <%= button_tag class: "btn btn-success btn-xs btn-raised" do %>
                Place Bet
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <span data-toggle="tooltip" title="<%= l(stamp.completed_at.in_time_zone) %>">
            <%= stamp.outcome %>
          </span>
        <% end %>
      </div>
      <div class="bet-single-detail" data-toggle="tooltip" title="Current Pot">
        <%= icon(:bank) %> <%= stamp.pot %>
      </div>
      <div class="bet-single-detail" data-toggle="tooltip" title="Players">
        <%= icon(:users) %> <%= stamp.bets.count %>
      </div>
    </div>
  </div>
</div>
