<p id="notice"><%= notice %></p>

<h1>Stamps</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Speaker</th>
      <th>Spoken date</th>
      <th>Completion date</th>
      <th>Outcome</th>
      <th>Proof</th>
      <th>Quote</th>
      <th>Completed at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stamps.each do |stamp| %>
      <tr>
        <td><%= stamp.user.email %></td>
        <td><%= stamp.speaker %></td>
        <td><%= stamp.spoken_date %></td>
        <td><%= stamp.completion_date %></td>
        <td><%= stamp.outcome %></td>
        <td><%= stamp.proof %></td>
        <td><%= stamp.quote %></td>
        <td><%= stamp.completed_at %></td>
        <td><%= link_to 'Show', stamp %></td>
        <td><%= link_to 'Edit', edit_stamp_path(stamp) %></td>
        <td><%= link_to 'Destroy', stamp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stamp', new_stamp_path %>
