<div class="row small-gutter">
  <div class="col-md-3">
    <div class="card profile-card">
      <div class="profile-header"></div>
      <%= link_to @user, class: "avatar-link" do %>
        <%= gravatar_for(@user, class: "avatar") %>
      <% end %>
  		<div class="user">
  			<div class="username">
  				<%= @user.username %>
  			</div>
  				<%= link_to "@#{@user.username}", @user %>
  		</div>
  		<div class="profile-stats">
  			<ul class="stats-list">
  				<li class="stat">
            <%= link_to stamps_path do %>
            <span class="stat-label">Stamps</span>
            <span class="stat-value">840</span>
            <% end %>
  				</li>
  				<li class="stat">
  					<a href="#" title="885 Following">
  						<span class="stat-label">Worth</span>
  						<span class="stat-value">2885</span>
  					</a>
  				</li>
  				<li class="stat">
  					<a href="#" title="1.810 Followers">
  						<span class="stat-label">Percentage</span>
  						<span class="stat-value">87%</span>
  					</a>
				</li>
			</ul>
		</div>
    </div>

    <% if @user.bets.any? %>
      <div class="card clear-card">
          <div class="card-content">
            <h4>Recent Bets</h4>
              <ul class="payout-list">
                <% @user.bets.each do |b| %>
                  <li>Wager: <%= link_to "#{b.wager}", b.stamp %></li>
                <% end %>
              </ul>
          </div>
          <div class="card-action">
              <%= link_to "All Bets", bets_path %>
          </div>
      </div>
    <% end %>

    <% if @user.payouts.any? %>
      <div class="card clear-card">
          <div class="card-content">
            <h4>Recent Payouts</h4>
              <ul class="payout-list">
                <% @user.payouts.each do |p| %>
                  <li>Payout: <%= link_to "#{p.amount}", p.stamp %></li>
                <% end %>
              </ul>
          </div>
          <div class="card-action">
              <%= link_to "All Payouts", @user %>
          </div>
      </div>
    <% end %>

  </div>
  <div class="col-md-6">
    <%= render @stamps %>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Payout</th>
        </tr>
      </thead>

      <tbody>
        <% @payouts.each do |payout| %>
          <tr>
            <td><%= link_to "View Stamp", payout.stamp %></td>
            <td><%= payout.amount %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= 10.times do |n| %>
      <div class="card">
          <div class="card-image">
              <img class="img-responsive" src="http://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7TDlCYzRROE84YWM/materialdesign_introduction.png">
              <span class="card-title">Material Cards</span>
          </div>

          <div class="card-content">
              <p>Cards for display in portfolio style material design by Google.</p>
          </div>

          <div class="card-action">
              <a href="#" target="new_blank">Link</a>
              <a href="#" target="new_blank">Link</a>
          </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-3">

    <div class="card">
        <div class="card-content">
            <p>Cards for display in portfolio style material design by Google.</p>
        </div>

        <div class="card-action">
            <a href="#" target="new_blank">Link</a>
            <a href="#" target="new_blank">Link</a>
        </div>
    </div>

  </div>
</div>
