<div class="row">
	<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
		<div class="mat-card card-auth">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				<div class="header header-primary text-center">
					<h3>Log In</h3>
					<div class="social-line">
						<a href="#pablo" class="btn btn-just-icon">
							<i class="fa fa-facebook-square"></i>
						</a>
						<a href="#pablo" class="btn btn-just-icon">
							<i class="fa fa-twitter"></i>
						</a>
						<a href="#pablo" class="btn btn-just-icon">
							<i class="fa fa-google-plus"></i>
						</a>
					</div>
				</div>
				<div class="content">
          <div class="input-group">
            <span class="input-group-addon"><%= f.label :username do %><i class="material-icons">face</i><% end %></span>
            <%= f.input :login, required: true, autofocus: true, placeholder: "Username or email...", label: false, class: "form-control" %>
          </div>
          <div class="input-group">
            <span class="input-group-addon"><%= f.label :username do %><i class="material-icons">email</i><% end %></span>
            <%= f.input :password, required: true, placeholder: "Password...", label: false, class: "form-control" %>
          </div>
          <div class="input-group">
            <%= f.input :remember_me, class: "form-control", as: :boolean if devise_mapping.rememberable? %>
          </div>
        </div>
				<div class="card-footer text-center">
					<%= f.button :submit, "Log In", class: "btn btn-primary btn-raised" %>
          <%= link_to "Don't have an account yet?", new_user_registration_path %>
          <%= link_to "Forgot your password?", new_user_password_path %>
				</div>
      <% end %>
	  </div>
  </div>
</div>
