<!DOCTYPE html>
<html>
  <head>
    <title>StampIt</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= "landing-page" if current_page?(root_path) %>">

    <%= render 'layouts/navbar' %>
    <%= render 'layouts/flash' %>
    <div class="wrapper">
      <% if current_page?(root_path) %>
        <%= render 'layouts/header' %>
        <%= yield %>
      <% else %>
      <div class="header header-filter" style="background-image: url('https://images.unsplash.com/photo-1423655156442-ccc11daa4e99?crop=entropy&dpr=2&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450');"></div>
      <div class="main main-raised">
        <div class="container">
          <%= yield %>
        </div>
      </div>
    <% end %>
    <%= render 'layouts/footer' %>
  </body>
</html>
